In [1]:
import requests
import json
import csv
from bs4 import BeautifulSoup
from urllib.request import urlopen
from datetime import date

today = date.today()

import pandas as pd
import numpy as np
from pandas.tseries.offsets import DateOffset
pd.set_option('display.max_columns', 500)

In [2]:
from importlib import reload
import FPL
import utils
import const
reload(const)
reload(utils)
reload(FPL)

fpl_data = FPL.FPL()

In [3]:
fpl_data.team_data

,name,position,points,played,win,loss,draw,strength,avg_strength
0,Everton,1.5,13,6,4,1,0,4,1205.0
1,Liverpool,1.5,13,6,4,1,0,5,1340.0
2,Aston Villa,3.5,12,5,4,1,0,3,1140.0
3,Leicester,3.5,12,6,4,2,0,4,1220.0
4,Spurs,5.0,11,6,3,1,0,4,1280.0
5,Leeds,7.5,10,6,3,2,0,3,1110.0
6,Crystal Palace,7.5,10,6,3,2,0,3,1100.0
7,Wolves,7.5,10,6,3,2,0,4,1200.0
8,Southampton,7.5,10,6,3,2,0,3,1105.0
9,Chelsea,10.5,9,6,2,1,0,4,1265.0
10,Arsenal,10.5,9,6,3,3,0,4,1245.0
11,West Ham,13.0,8,6,2,2,0,3,1155.0
12,Newcastle,13.0,8,6,2,2,0,3,1110.0
13,Man City,13.0,8,5,2,1,0,5,1340.0
14,Man Utd,15.0,7,5,2,2,0,4,1235.0
15,Brighton,16.0,5,6,1,3,0,3,1110.0
16,West Brom,17.0,3,6,0,3,0,2,1030.0
17,Fulham,19.0,1,6,0,5,0,2,1010.0
18,Sheffield Utd,19.0,1,6,0,5,0,3,1150.0
19,Burnley,19.0,1,5,0,4,0,3,1080.0

In [4]:
fpl_data.player_data[fpl_data.player_data['chance_of_playing_this_round'].isna()].sort_values(['position','value'],ascending=False).groupby('position').head(3)

,name,position,team,minutes,form,now_cost,total_points,points_per_game,chance_of_playing_this_round,ict_index_rank,id,value,played_team,minutes_per_game
281,Hélder Wander Sousa de Azevedo e Costa,Midfielder,Leeds,487,3.3,57,32,5.3,NaN,29,205,0.561404,6,81.166667
274,Mateusz Klich,Midfielder,Leeds,516,3.0,56,30,5.0,NaN,25,198,0.535714,6,86.000000
43,Jack Grealish,Midfielder,Aston Villa,450,9.3,73,39,7.8,NaN,6,37,0.534247,5,90.000000
33,Emiliano Martínez,Goalkeeper,Aston Villa,450,5.0,48,34,6.8,NaN,125,12,0.708333,5,90.000000
289,Illan Meslier,Goalkeeper,Leeds,540,3.7,45,24,4.0,NaN,180,213,0.533333,6,90.000000
449,Alex McCarthy,Goalkeeper,Southampton,540,5.3,45,24,4.0,NaN,202,363,0.533333,6,90.000000
278,Patrick Bamford,Forward,Leeds,490,6.7,59,49,8.2,NaN,10,202,0.830508,6,81.666667
417,Callum Wilson,Forward,Newcastle,534,7.7,65,41,6.8,NaN,17,506,0.630769,6,89.000000
478,Harry Kane,Forward,Spurs,533,12.3,109,65,10.8,NaN,2,388,0.596330,6,88.833333
567,Romain Saïss,Defender,Wolves,517,7.3,53,38,6.3,NaN,91,461,0.716981,6,86.166667
129,Kurt Zouma,Defender,Chelsea,450,7.7,51,32,6.4,NaN,65,110,0.627451,6,75.000000
540,Aaron Cresswell,Defender,West Ham,540,7.3,50,31,5.2,NaN,33,435,0.620000,6,90.000000

In [5]:
fpl_data.show_good_players(**filters)

NameError: name 'filters' is not defined

In [6]:
filters = {
    'value':0.2,
    'form':7,
    'minutes_per_game':45
}
a = pd.DataFrame(fpl_data.all_data['elements'])
a['name'] = a['first_name'] + ' ' + a['second_name']
a[a['name'].isin(list(fpl_data.show_good_players(**filters)['name'].unique()))]

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,id,in_dreamteam,news,news_added,now_cost,photo,points_per_game,second_name,selected_by_percent,special,squad_number,status,team,team_code,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,influence_rank,influence_rank_type,creativity_rank,creativity_rank_type,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,name
43,NaN,NaN,114283,1,-1,3,-3,1,3,9.3,9.3,1,Jack,9.3,37,False,,None,73,114283.jpg,7.8,Grealish,28.0,False,None,a,2,7,39,1649874,117422,428174,82122,1.3,5.3,Grealish,450,3,3,3,5,0,0,0,1,0,0,3,139,206.8,187.0,237.0,63.0,11,6,8,6,13,5,6,5,3.0,,7.0,,3.0,,Jack Grealish
61,NaN,NaN,178301,0,0,0,0,1,4,7.7,7.7,2,Ollie,7.7,514,False,,None,60,178301.jpg,5.4,Watkins,4.8,False,None,a,2,7,27,447414,16516,190334,45636,1.3,4.5,Watkins,450,3,1,3,5,0,0,0,0,0,0,2,87,144.8,93.9,200.0,43.8,34,9,49,3,19,13,18,9,NaN,,NaN,,NaN,,Ollie Watkins
129,NaN,NaN,103192,1,-1,1,-1,2,2,8.2,7.7,9,Kurt,7.7,110,True,,None,51,103192.jpg,6.4,Zouma,5.6,False,None,a,5,8,32,381604,112752,127619,6397,1.5,6.3,Zouma,450,2,0,2,6,0,0,0,0,0,0,4,125,172.8,14.6,76.0,26.4,19,2,242,72,69,8,65,11,NaN,,NaN,,NaN,,Kurt Zouma
417,NaN,NaN,75115,0,0,0,0,1,4,7.2,7.2,5,Callum,7.7,506,False,,None,65,75115.jpg,6.8,Wilson,13.0,False,None,a,14,4,41,986279,30276,784190,72116,1.2,6.3,Wilson,534,4,2,1,10,0,0,0,0,0,0,7,140,162.4,73.2,214.0,44.7,23,7,74,8,16,10,17,8,NaN,,NaN,,1.0,,Callum Wilson
478,NaN,NaN,78830,1,-1,4,-4,3,4,12.8,12.8,5,Harry,12.3,388,True,,None,109,78830.jpg,10.8,Kane,41.2,False,None,a,17,6,65,2235450,163508,503271,9286,1.1,6.0,Kane,533,5,8,1,7,0,0,0,0,0,0,9,245,364.0,160.6,372.0,89.7,1,1,13,1,2,1,2,1,NaN,,4.0,,1.0,,Harry Kane
540,NaN,NaN,55459,0,0,0,0,1,2,6.3,6.3,2,Aaron,7.3,435,False,,None,50,55459.jpg,5.2,Cresswell,6.4,False,None,a,19,21,31,418464,66836,91613,13052,1.5,6.2,Cresswell,540,0,3,2,8,0,0,0,0,0,0,5,158,168.0,200.0,1.0,36.9,21,3,6,1,326,115,33,2,3.0,,1.0,,NaN,,Aaron Cresswell
567,NaN,NaN,107613,1,-1,3,-3,1,2,7.8,7.8,7,Romain,7.3,461,True,,None,53,107613.jpg,6.3,Saïss,20.4,False,None,a,20,39,38,1417053,161436,335304,11365,1.4,7.2,Saïss,517,1,0,4,7,0,0,0,0,0,0,7,135,123.4,24.8,60.0,21.0,50,15,191,54,98,16,91,19,NaN,,3.0,,NaN,,Romain Saïss

In [7]:
fpl_data.my_team_data

,name,position_y,substitute,team,form,total_points,points_per_game,value,now_cost,chance_of_playing_this_round,minutes,opponents,next_opponents
0,Jordan Pickford,Goalkeeper,0,Everton,2.0,17,2.8,0.340000,50,NaN,540,Southampton,Newcastle
1,Willy Boly,Defender,0,Wolves,5.3,23,3.8,0.418182,55,NaN,540,Newcastle,Crystal Palace
2,Reece James,Defender,0,Chelsea,3.0,25,5.0,0.500000,50,NaN,363,Man Utd,Burnley
3,Tyrone Mings,Defender,0,Aston Villa,2.7,30,6.0,0.576923,52,NaN,450,Leeds,Southampton
4,Kyle Walker-Peters,Defender,0,Southampton,3.7,21,3.5,0.466667,45,NaN,540,Everton,Aston Villa
5,Hélder Wander Sousa de Azevedo e Costa,Midfielder,0,Leeds,3.3,32,5.3,0.561404,57,NaN,487,Aston Villa,Leicester
6,Mohamed Salah,Midfielder,0,Liverpool,6.8,50,8.3,0.403226,124,NaN,540,Sheffield Utd,West Ham
7,Jack Grealish,Midfielder,0,Aston Villa,9.3,39,7.8,0.534247,73,NaN,450,Leeds,Southampton
8,Donny van de Beek,Midfielder,0,Man Utd,0.7,9,2.2,0.132353,68,NaN,60,Chelsea,Arsenal
9,Michy Batshuayi,Forward,0,Crystal Palace,3.3,12,3.0,0.206897,58,100.0,196,Fulham,Wolves
10,Keinan Davis,Forward,0,Aston Villa,0.0,1,1.0,0.022727,44,75.0,28,Leeds,Southampton
11,Alisson Ramses Becker,Goalkeeper,1,Liverpool,1.0,19,4.8,0.322034,59,50.0,360,Sheffield Utd,West Ham
12,Jamie Vardy,Forward,1,Leicester,3.0,41,8.2,0.410000,100,75.0,384,Arsenal,Leeds
13,Kevin De Bruyne,Midfielder,1,Man City,1.0,18,4.5,0.156522,115,50.0,292,West Ham,Sheffield Utd
14,Eric Dier,Defender,1,Spurs,2.7,13,2.6,0.265306,49,50.0,450,Burnley,Brighton